@import url('https://fonts.googleapis.com/css2?family=Anton&family=Quicksand&display=swap');

$background-color: #f5f3f4;
html, body{
    margin:0;
    padding:0;
}

body{
    font-size: 62.5%;
    background-color: $background-color;
}
#sideMenu{
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0; //comes from right. Left will come from left.
    background: url(img/pawel-czerwinski-APVgVX_yDDc-unsplash.jpg);
    background-size:cover;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    a{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 130px;
        color: black;
        display: block;
        transition: 0.3s;
        font-family: 'Anton', sans-serif;
        text-transform: uppercase;
        .arrow{
            display:none;
        }
        &:hover{
            .arrow{
                display: inline;
            }
        }
    }
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 50px;
        margin-left: 50px;
        color: black;
      }
}

nav{
    margin:0;
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    height: 80px;
    
    #logo{
        padding-left: 5vw;
        font-size: 45px;
        font-family: 'Anton', sans-serif;
        color:black;
        text-transform: uppercase;
        letter-spacing: 15px;
        font-weight: 800;
    }
    #menu-btn{
        padding-right: 2vw;
        text-transform: uppercase;

        button{
            background-color: transparent;
            font-size: 30px;
            font-family: 'Anton', sans-serif;
            cursor: pointer;
            padding: 10px 15px;
            border: none;
        }
    }
}
.banner{
    display:flex;
    flex-direction: row;
    height: 80vh;

    .title{
        width: 40%;
        background-color: #efb19c;
        font-size: 40px;
        text-align: center;
        display:flex;
        justify-content: center;
        align-items: center;
        font-family: 'Quicksand', sans-serif;
    }
    .primary-image{
        width: 60%;
        background: url(img/balenciaga1.jpeg);
        background-position: center;
        background-color:#c40001;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

